# Ficheiros e Diretórios do CLion (JetBrains)
.idea/
cmake-build-*/

# Ficheiros de Configuração e Cache do CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.cmake

# Binários Compilados e Objetos C/C++
*.o
*.out
pipeline_atividade2_a
pipeline_atividade2_b
flashback_pipeline

# Mídia (Evita fazer commit acidental de vídeos/áudios pesados)
*.webm
*.mp4
*.mkv
*.avi